/** @format */

@charset 'utf-8';
/* ============ STYLE ============ */
body {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
}
body.fixed {
}
section {
  position: relative;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  cursor: pointer;
  opacity: 0.9;
}
*:focus {
  outline: none;
}
img {
  vertical-align: bottom;

  max-width: 100%;
}
body.scroll-disable {
  overflow: hidden;
}

.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
@media only screen and (max-width: 640px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
:root {
  --red: #e50012;
  --ff_axis: "axis", sans-serif;
  --yellow: #fff697;
  --green: #3fb266;
  --blue: #036eb8;
}

/* 事前エントリー */
#entry .entryBefore {
  display: block;
}
#entry .entryAfter {
  display: none;
}
.entryBefore {
  display: none;
}
.entryAfter {
  display: block;
}

/* font */
@font-face {
  font-family: "axis";
  src: url("../font/AxisStd-Heavy.ttf") format("truetype"),
    url("../font/AxisStd-Heavy.woff") format("woff");
}

/* layout */
main {
  font-weight: 400;
}
.wrap {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
.frameCP {
  padding-bottom: 15px;
  background: var(--yellow);
  border-right: 3px solid var(--red);
  border-left: 3px solid var(--red);
}
.frameMaker {
  padding-bottom: 20px;
  background: #fff;
  border-right: 3px solid var(--red);
  border-left: 3px solid var(--red);
}
.frame {
  background: #fff;
  border-right: 3px solid var(--yellow);
  border-left: 3px solid var(--yellow);
}
.frame2 {
  background: #fff;
  border-right: 3px solid var(--blue);
  border-left: 3px solid var(--blue);
}
.frameBottom {
  position: relative;
  top: -10px;
}

/* ttl */
.ttl {
  position: relative;
  width: 47%;
  margin: 0 auto -20px;
}
.ttl2 {
  position: relative;
  width: 55%;
  margin: 0 auto -20px;
}

/* bg */
.bg1 {
  background: url(../img/common/bg.png) repeat-y center / 100%;
}
.bg2 {
  background: var(--red);
}

/* -----------202602-festa ----------- */

/* キャンペーン内容 */
.cpImg01,
.cpImg02 {
  position: relative;
}
.cpImg01 img,
.cpImg02 img {
  position: relative;
  z-index: 1;
}
.cpImg01::after,
.cpImg02::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 65px;
  height: 65px;
  z-index: 0;
}
.cpImg01::after {
  top: 25px;
  background: url(../img/common/view_cp01_2.png) no-repeat center / contain;
}
.cpImg02::after {
  top: 45px;
  background: url(../img/common/view_cp02_2.png) no-repeat center / contain;
}
.btnLine {
  background: #1eaa39;
}

/* #product */
.makerSlider .swiper-slide a:not(:last-child) {
  margin-bottom: 10px;
  display: block;
}
.makerCat {
  padding-top: 25px;
}
.catTtl {
  width: 88%;
  margin: 0 auto 10px;
}

/* 参加完了画面 */
.completeBg {
  padding: 190px 0 110px;
  background: url(../img/second/bg_complete.png) no-repeat center top / 100%;
}

#complete .entryTxt {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}

/* #status */
#status .itemNo,
#status .itemActive,
#status .itemMax,
#status .itemEnd {
  display: none;
}
#status.statusNo .itemNo,
#status.statusActive .itemActive,
#status.statusMax .itemMax,
#status.statusEnd .itemEnd {
  display: block;
}
#status .NoItemTxt {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
}
#status .statusActiveTxt {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 700;
  font-size: 29px;
  color: #2d2d2d;
}
#status .statusActiveTxt .statusActiveNum {
  margin-left: 10px;
  color: var(--red);
  font-family: var(--ff_axis);
  font-size: 60px;
}
#status .statusDataWrap2 {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 15px;
  border: 2px solid var(--blue);
}
#status .statusData_label2 {
  color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
}
#status .statusData_Count2 {
  position: relative;
  bottom: -3px;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
}
#status .statusData_Num2 {
  margin-right: 10px;
  font-family: var(--ff_axis);
  font-size: 36px;
}
#status .statusTxt1 {
  margin: 20px 0;
  padding-top: 20px;
  text-align: center;
  color: var(--red);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  white-space: nowrap;
  background-image: radial-gradient(circle, var(--blue) 1.5px, transparent 1.5px);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 8px 3px;
}
#status .statusTxt2 {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

#status.statusMax,
#status.statusEnd,
#result {
  padding: 5px 0 40px;
  position: relative;
}
#status.statusMax > *,
#status.statusEnd > *,
#result > * {
  z-index: 1;
  position: relative;
}
#status.statusMax::after,
#status.statusEnd::after,
#result::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/second/bg_status.png) no-repeat center / cover;
  z-index: 0;
}

/* 結果発表 */
#result .resultTxt1 {
  margin: 0 0 20px;
  text-align: center;
  color: var(--red);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  white-space: nowrap;
}
#result .resultTxt2 {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.pointData {
  margin-top: 15px;
  font-family: var(--ff_axis);
  text-align: center;
  font-size: 20px;
  color: var(--blue);
  letter-spacing: -0.05em;
}
.pointData .point {
  font-size: 58px;
}

/* #lottely */
#lottely {
  padding: 150px 0 70px;
}
#lottely .maxTxt {
  display: none;
}
#lottely .lottely__txt {
  font-size: 24px;
  font-weight: 600;
  font-family: "GothicDB";
  text-align: center;
}
#lottely .goldWrap {
  margin-top: 80px;
  border-radius: 10px;
}
#lottely .goldWrap .content {
  border-radius: 10px;
}
#lottely .status__receipt .winWrap .status__receipt_point .pointTxt {
  background: #fff;
}
#lottely .grayWrap {
  width: 95%;
  padding: 30px 0 15px;
  margin: 20px auto 0;
  border-radius: 10px;
  border: 1px solid #c2c1c1;
  background: #fff;
}
#lottely .grayWrap .lottely__txt {
  margin-bottom: 20px;
}
#lottely .btn_back01 {
  color: #ee869c;
  background: #fff;
}
#lottely .btn_back01::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #ee869c;
  border-right: 1px solid #ee869c;
  transform: translateY(-50%) rotate(45deg);
}

#lottely.grayBg {
  padding: 40px 0 70px;
  background: #c2c1c1;
}
#lottely.grayBg .winnerWrap {
  display: none;
}
#lottely.grayBg .btn_back01 {
  color: #767575;
  background: #fff;
}
#lottely.grayBg .btn_back01::after {
  border-top: 1px solid #767575;
  border-right: 1px solid #767575;
}

/* 注意書き */
.noteList {
  font-size: 12px;
  line-height: 1.4;
}
.noteList li {
  padding-left: 1em;
  text-indent: -1em;
}
.noteList li::before {
  content: "\203B";
}
/* 参加の流れ */
.stepCont {
  width: 88%;
  margin: 0 auto;
}
.stepTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
  font-weight: 700;
}
.stepTitleTxt {
}
.stepNo {
  width: 40px;
}
.stepTxt {
  padding-top: 10px;
}
.stepDesc {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.stepArrow {
  margin: 20px auto;
  width: 20px;
}
.stepAttention {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.6;
}

/* セイムスアプリ限定スタイル */
.stepAppTxt {
  margin: 15px 0 5px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  color: var(--red);
}
.stepAppTxt2 {
  width: 72%;
  margin: 50px auto 5px;
}
/* .stepAppTxt2::before,
.stepAppTxt2::after {
    content: "";
    width: 1px;
    height: 15px;
    margin-bottom: 2px;
    background: #ee869c;
}
.stepAppTxt2::before {
    transform: rotate(-30deg);
}
.stepAppTxt2::after {
    transform: rotate(30deg);
} */

/* ダウンロードボタン */
.downloadWrap {
  margin-right: auto;
  margin-left: auto;
  width: 270px;
  background: #fff;
}
.downloadTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  background: rgba(255, 218, 63, 0.8);
  color: var(--red);
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  font-size: 14px;
  z-index: 1;
}
.downloadTitle::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid rgba(255, 218, 63, 0.8);
  border-bottom: 0;
}

.downloadBtnWrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 20px;
  z-index: 0;
}
.downloadBtn {
  width: 48%;
}

.downloadBtn1 {
  width: 41%;
}
.downloadBtn2 {
  width: 50%;
}

.downloadTitle2 {
  width: 88%;
  margin: 33px auto 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}

.downloadTitle3 {
  width: 60%;
  margin: 0 auto 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}

/* 参加フォーム */
.formTop_txt {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}
.agreeBtn {
  margin: 20px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
/* checkbox */
.agreeCheck {
  position: relative;

  width: 14px !important;
  height: 14px !important;
  padding: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
  vertical-align: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.agreeCheck:checked:before {
  position: absolute;
  top: -3px;
  left: 3px;
  transform: rotate(50deg);
  width: 7px;
  height: 15px;
  border-right: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
  content: "";
}

/* -----------------------
ボタン
-------------------------- */
.btn {
  position: relative;
  height: 45px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
}
.arrow::after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  position: absolute;
  right: 20px;
  transform: rotate(45deg);
}
.btn01 {
  background: var(--red);
}
.btn02 {
  height: 50px;
  color: #fff;
  background: var(--red);
  font-size: 20px;
  border: 1px solid #ce0019;
  box-shadow: 0 3px 0 #ce0019;
}
.btnSearch {
  background: var(--blue);
}
.btnSearch::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../img/second/search.png) no-repeat center / contain;
}
.btn_lotto {
  color: #fff;
  background: var(--color-pink01);
  border-radius: 20px;
  font-size: 20px;
}
.btn_lotto::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(-50%) rotate(45deg);
}
.btn_lotto2 {
  height: 35px;
  color: #fff;
  font-size: 16px;
  background: var(--color-green);
}
.btn_lotto3 {
  height: 35px;
  color: #fff;
  font-size: 16px;
  background: #c2c1c1;
}

/* -----------------------
  アコーディオン
-------------------------- */
.toggle_contents_other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.toggle_title_other {
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  background: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

.toggle_title_other.rule_title {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

.toggle_btn_other {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
.toggle_btn_other:before,
.toggle_btn_other:after {
  display: block;
  content: "";
  background-color: var(--red);
  position: absolute;
  width: 3.4vw;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.toggle_rule:before,
.toggle_rule:after {
  background-color: #000;
}

.toggle_btn_other:before {
  width: 3px;
  height: 3.4vw;
}
.toggle_title_other.selected .toggle_btn_other {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(90deg);
}

.toggle_title_other.selected .toggle_btn_other:after {
  content: normal;
}

@media only screen and (min-width: 641px) {
  .toggle_btn_other:before,
  .toggle_btn_other:after {
    width: 13px;
    height: 2px;
  }

  .toggle_btn_other:before {
    width: 2px;
    height: 13px;
  }
}

.toggle_contents_other dd {
  display: none;
}
.toggle_contents_other_bk {
  font-size: 12px;
  line-height: 1.4;
  text-align: justify;
  padding: 10px 0 0;
}

/* アコーディオンタイトル */
.toggle_Msg {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  letter-spacing: -0.9px;
  margin: 20px 0;
}

@media only screen and (min-width: 641px) {
  .toggle_btn:before,
  .toggle_btn:after {
    width: 13px;
    height: 2px;
  }

  .toggle_btn:before {
    width: 2px;
    height: 13px;
  }
}

.toggle_contents_other_bk .info_list {
  width: 100%;
}
.toggle_contents_other_bk .info_list li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.info_list .listName {
  width: 40%;
}
.info_list .listData {
  width: 60%;
}

/* -----------------------
  swiper
-------------------------- */
.Slider {
  position: relative;
}

/* -----------------------
  common
-------------------------- */
.inner {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.inner95 {
  width: 375px;
  max-width: 95%;
  margin: 0 auto;
}

.inner90 {
  width: 375px;
  max-width: 90%;
  margin: 0 auto;
}
.inner80 {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.inner85 {
  width: 85.6%;
  max-width: 85.6%;
  margin: 0 auto;
}

.inner88 {
  width: 88%;
  max-width: 88%;
  margin: 0 auto;
}

.inner75 {
  width: 375px;
  max-width: 75%;
  margin: 0 auto;
}

/* モーダル */
.fix {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.9);
  z-index: 100;
}

.modal_inner {
  /* display: none; */
  position: absolute;
  width: 95%;
  max-width: 355px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  /* border-radius: 20px; */
  padding: 40px 0;
  border: 2px solid #e03312;
  z-index: 999;
}

@media only screen and (max-width: 640px) {
  .wrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  /* .inner93, .inner88 { */
  .inner90,
  .inner93,
  .inner88 {
    width: 89.3%;
    max-width: 89.3%;
    margin: 0 auto;
  }
}

/* -----------------------
  LP main visual
-------------------------- */

.gridWrap {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 17px 0;
  width: 93%;
  margin: 0 auto;
}

.tableNum {
  white-space: nowrap;
  width: 20%;
  text-align: end;
}

.rulesWrap {
  width: 100%;
  background-color: #ffeef5;
  padding: 25px 0 20px;
}

.rulesTitle {
  font-size: 16px;
  font-weight: 700;
  color: #00b38f;
  text-align: center;
  margin: 0 0 34px;
  letter-spacing: 1.2px;
}

.rulesTitle span {
  background: linear-gradient(transparent 50%, #fff100 50%);
}

.rulesTxt {
  font-size: 14px;
  font-weight: 500;
  /* letter-spacing: -0.9px; */
  margin-left: -9px;
  color: #00b38f;
}

.rulesMsg {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: 1.6;
  color: #000000;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 192.6345px;
}

.mvWrap {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #b0e1fd;
}

.mypageMvWrap {
  width: 100%;
  height: 320px;
  position: relative;
  overflow: hidden;
  background-color: #b0e1fd;
}

.mvBkImg {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
  width: 200vw;
  height: 200vw;
  z-index: 0;
  background-image: url(../img/lp/bkImg.png);
  background-size: cover;
  animation: bgcnca 60s linear 0s infinite;
}

.mvBkImg.mypageBkImg {
  top: -15%;
}

@keyframes bgcnca {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 641px) {
  .mvBkImg {
    width: 750px;
    height: 750px;
  }
}

.mvLogoSSS {
  position: absolute;
  top: 17px;
  left: 13px;
  width: 66px;
  z-index: 3;
}

.mvCopy {
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translateX(-48%);
  display: block;
  width: 130px;
  margin: 0 auto;
  z-index: 4;
}

.mvMaincopy1 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 360px;
  margin: 0 auto;
  z-index: 3;
}

.mvMaincopy2 {
  position: absolute;
  top: 238px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 325px;
  margin: 0 auto 20px;
  z-index: 3;
}

.subMvImg {
  width: 100%;
  height: clamp(40vw, 155px, 50vw);
  z-index: 0;
  position: absolute;
  top: 4px;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.subMvImg.appForm {
  height: clamp(30vw, 117px, 39vw);
  max-height: 170px;
}

@media screen and (min-width: 640px) {
  .subMvImg.appForm {
    height: 120px;
  }
}

.subMvImg img {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Swiper */

/* mv */
.mvSlider {
  margin-top: -10px;
  padding: 30px 0;
  width: 100%;
  z-index: 10;
  background: #f6d75c;
}
.mvSlider .swiper-wrapper {
  transition-timing-function: linear;
  align-items: flex-end;
}
.mvSwiper-slide {
  display: block;
  margin: 0 20px;
  width: 50px !important;
  height: 150px;
}
.mvSwiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

@media screen and (min-width: 641px) {
  /* .mvSlider {
    top: -40px;
  } */
}

/* 対象商品 */
.productsSlider {
  position: relative;
  margin: 15px auto 0;
  width: 100%;
}

.productsSlide {
  display: block;
  width: 90%;
}

.slideImage {
  /* display: block; */
  width: 100%;
  /* margin: 0 10px 0 0; */
}

.btnDetails {
  display: block;
  width: 100%;
  margin: 30px auto 0;
}

.swiper-products-button-prev,
.swiper-products-button-next {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999 !important;
}
.swiper-products-button-next {
  right: -20px;
  background-image: url(../img/common/arrowRight.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.swiper-products-button-prev {
  left: -20px;
  background-image: url(../img/common/arrowLeft.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4.5px 1px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  bottom: -30px;
}

.Slider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px 1px;
}

.productsSlider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4.5px 1px;
}

.Slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
  opacity: 1;
  display: inline-block;
  border-radius: 50%;
  background-color: #e03312;
  opacity: 60%;
}

.productsSlider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
  opacity: 1;
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #00b38f;
}

.Slider .swiper-pagination-bullet-active {
  opacity: 100%;
}

.swiper-products-pagination {
  text-align: center;
}

.swiper-overViewSlider-pagination {
  text-align: center;
}

/* section */

.lpWrap {
  border-radius: 10px;
}
.lpSectionWrap {
  margin: 0 auto;
  padding: 40px 14px 10px;
  background-color: #fff;
  border: solid 8px #007440;
  border-radius: 0 0 26px 26px;
}
H3.lpSectionTitle {
  margin: 0 auto;
  padding: 30px 0 25px;
  color: #fff1ac;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  background-color: #007440;
  border-radius: 20px 20px 0 0;
}

.lpSectionTxt {
  font-size: 14px;
  font-weight: 700;
  color: #00b38f;
  letter-spacing: -2px;
  width: 80%;
  text-align: center;
  line-height: 1.4;
  background-color: #ffffff;
  margin: -55px auto 0;
  padding: 0 10px;
}

.lpSectionTxt2 {
  font-size: 14px;
  font-weight: 500;
  color: #ff4c50;
  letter-spacing: -2px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}

.lpSectionMsg {
  font-size: 13px;
  color: #fa000e;
  text-align: center;
  font-weight: 500;
  letter-spacing: -1.5px;
  white-space: nowrap;
  line-height: 1.5;
  margin-bottom: 13px;
}

.appBtnAddTxt {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #000000;
}

/* modal */

.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.9);
  z-index: 900;
}

.modal__content {
  position: absolute;
  width: 90%;
  max-width: 571px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  /* border-radius: 20px; */
  padding: 30px 0;
  z-index: 999;
  font-size: 10px;
}

.selectbox {
  position: relative;
  display: block;
  width: 40%;
  margin: 0 auto;
}

.selectbox::before,
.selectbox::after {
  position: absolute;
  content: "";
  pointer-events: none;
}

.selectbox::before {
  right: 0;
  display: inline-block;
  width: 2.8em;
  /* height: 2.8em; */
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: #00b38f;
  content: "";
}

.selectbox::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 9px;
  height: 9px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: "";
}

.selectbox select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* min-width: 230px; */
  width: 100%;
  height: 2.4em;
  padding: 0.4em 3.6em 0.4em 0.8em;
  /* padding: 0 3.6em 0 .8em; */
  border: 1px solid #00b38f;
  border-radius: 5px;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
  color: #00b38f;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.selectbox select:focus {
  outline: 1px solid #00b38f;
}

.modalWrap {
  /* background-color: #FFFFFF;
  border-radius: 20px; */
  width: 82.5%;
  margin: 0 auto;
  /* transform: translateX(-1%); */
  /* margin-left: 2.6vw; */
}
.myModal,
.otherModal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.modalMsg {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #00b38f;
  letter-spacing: 1px;
}

.modalMsg--fs12 {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #00b38f;
  letter-spacing: 1px;
}

.modalWrap {
  width: 100%;
  background-color: #fafba4;
  padding: 20px 0;
}

.modal__buttons {
  position: absolute;
  width: 66%;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 140;
}

@media screen and (min-width: 641px) {
  .modal__content {
    width: 335px;
  }
}

/* -----------------------
  second
-------------------------- */
header.secHeader {
  position: relative;
}
header.secHeader img {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 110.1739px;
}

.secMsg {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Zen Maru Gothic", sans-serif;
  letter-spacing: -0.9px;
  line-height: 1.5;
  width: fit-content;
  margin: 0 auto;
  padding: 0 5px;
  color: #ffffff;
}

.secMsg--small {
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 1.6;
}

.secFrame {
  width: 100%;
  background-color: #e50012;
  padding: 5px 5px 0;
  box-shadow: 4px 4px rgba(4, 0, 0, 0.3);
}

.secFrame.other {
  background-color: #000000;
}

.secBkImg-left,
.secBkImg-right {
  position: absolute;
  width: 18%;
  top: 20%;
}

.secBkImg-left {
  left: 4%;
}

.secBkImg-right {
  right: 4%;
}

.entryProductWrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  display: none;
}

.entryProductWrapper .product,
.entryProductWrapper .notSelproduct {
  display: none;
}

.entryProductWrapper.selected .product.selected,
.entryProductWrapper .notSelproduct.selected {
  display: block;
  width: 100%;
  cursor: pointer;
}

.productName {
  text-align: center;
  color: #abb4c2;
}

.completeMsg {
  font-size: 22px;
  text-align: center;
  color: #000000;
  font-weight: 500;
}

.productWrap {
  width: 65%;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.voteNum {
  font-size: 45px;
  font-weight: 500;
  width: fit-content;
  letter-spacing: 2px;
  padding: 23px 0 20px;
  margin: 0 auto;
}

.voteNum span {
  font-size: 27px;
}

.dispatchWrap {
  width: 95%;
  margin: 20px auto 0;
  background-color: #fcf1f6;
  padding: 8px 20px 15px;
}

.mypageTxtWrap {
  width: 95%;
  background-color: #fcf1f6;
  padding: 22px 20px 23px;
  border-radius: 20px;
  text-align: center;
  margin: 50px auto 24px;
}

.termWrap {
  background-color: #000000;
  /* font-weight: 700; */
  font-weight: 300;
  padding: 4px 2px;
  /* color: #0A3EA4; */
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.1px;
}

.secTxt {
  font-size: 16px;
  color: #0a3ea4;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.9px;
  line-height: 1.7;
}

/* -----------------------
  application form
-------------------------- */
.btnWrap {
  width: 100%;
  margin: 0 auto;
}

.textWrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 22px 27px 30px 27px;
}

.textWrapTitle {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.9px;
  margin-left: -7px;
  color: #000000;
}

.textWrap68 {
  width: 68%;
  margin: 0 auto;
}

.textWrap83 {
  width: 83%;
  margin: 0 auto;
}

.btnWrapLP {
  width: 100%;
  margin: 0 auto;
}

.btnFlex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.btnFlexItem {
  width: 95%;
}

.btnWrapSec {
  width: 100%;
  margin: 6px auto 0;
}

.btnWrapSec2 {
  width: 96%;
  margin: 20px auto 0;
}

/* other application form */
/* .formWrap{ */
/* background-color: #FFFFFF; */
/* margin-top: -1px;
  padding: 23px 10px;
} */

.questionTitle {
  padding: 6px 18px;
  color: #ffffff;
  background-color: #ff4c50;
  border-radius: 15px;
  font-size: 16px;
  letter-spacing: -0.9px;
  margin: 30px 0 20px;
}

.questionTitle span {
  font-size: 12px;
}

.formWrap ul {
  margin-left: 8px;
}

.questionInput::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100%;
  background-image: url(../img/lp/question-check-before.png);
  background-repeat: no-repeat;
}
.questionInput:checked::before {
  border-color: #ffffff;
}
.questionInput:checked::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100%;
  background-image: url(../img/lp/question-check-after.png);
  background-repeat: no-repeat;
}

/* -----------------------
  mypage
-------------------------- */
.mypageMsg,
.mypageExp {
  background-color: #f6f74d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #474747;
  padding: 11px 10px;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  margin: 0 auto;
}

.mypageExp {
  font-size: 14px;
  padding: 5px 0;
  background-color: #00b38f;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.mypageTxt,
.mypageTxt--Exp {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.9px;
  white-space: nowrap;
  font-weight: 400;
  background-color: #00b38f;
  padding: 10px 0 15px;
}

.mypageTxt--Exp {
  width: fit-content;
  letter-spacing: 1.2px;
  line-height: 1.8;
  margin: 0 auto;
  border-bottom: 2px dotted #fa000e;
}

.statusWrap {
  background-color: #fafba4;
  margin-top: 20px;
  color: #1d3661;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
}

.statusTitle__blk,
.statusTitle__ylw {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.statusTitle__blk {
  background-color: #000;
  color: #fff000;
  font-weight: 700;
  border-radius: 5px;
}

.statusTitle__ylw {
  background-color: #fff000;
  color: #000000;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #000000;
}

.hrLine__dot {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px dotted #fa000e;
}

.hrLine__dash {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px dashed #000000;
}

.mypageArrow {
  display: block;
  margin: 13px auto 20px;
  width: 10%;
}

.getNumWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid #00b38f;
}

.getNumTitle {
  color: #00b38f;
  font-size: 14px;
  font-weight: 700;
  /* background-color: #006C64; */
  /* text-align: center; */
  white-space: nowrap;
  padding: 12px 5px 2px;
  width: 50%;
  /* border-radius: 7px 0 0 7px; */
}

.getNum {
  color: #00b38f;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  position: relative;
  width: 50%;
}

.getNum span {
  font-size: 18px;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}

/* ======== 棒グラフ ========= */
.chartBox {
  width: 100%;
  height: clamp(173px, 46.7vw, 233.94px);
  position: relative;
  /* background-color: #E0E0E0; */
  margin: 30px auto 0;
}

@media screen and (min-width: 641px) {
  .chartBox {
    height: 176px;
  }
}

.bottleBk {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  overflow: hidden;
  border: 1px solid #ffffff;
}

.chartBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.chartBox ul {
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  color: #001b47;
  z-index: 100;
  position: absolute;
  bottom: 20%;
  left: 0;
  text-align: center;
}

.chartBox ul li {
  width: 33%;
  /* left: 50%; */
}

.chartBox ul li::after {
  content: "%";
  font-size: 19px;
}

.chartBox ul li:nth-child(1) {
  padding-right: 20px;
}

.chartBox ul li:nth-child(2) {
  padding-left: 8px;
}

.chartBox ul li:nth-child(3) {
  /* text-align: end; */
  padding-left: clamp(30px, 8vw, 40px);
}

@media screen and (min-width: 641px) {
  .chartBox ul li:nth-child(3) {
    padding-left: 30px;
  }
}

#chart01 {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 98% !important;
  height: 99% !important;
  z-index: 1;
}

.rulesBtnWrap {
  width: 90%;
  margin: 25px auto 0;
}

/* gacha */
.gachaWrap {
  position: relative;
}
.gachaBtn {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 271.1652px;
}

/* -----------------------
  form
-------------------------- */
input[type="text"],
input[type="name"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="postal-code"],
input[type="password"] {
  height: 48.2624px;
  padding: 0 15px;
  background: #f5f2f2;
  border: solid 1px #d9d1ce;
  z-index: 0 !important;
}
input[type="text"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="postal-code"]:focus,
input[type="password"]:focus {
  background: #f5f2f2;
  border: solid 1px #d9d1ce;
  z-index: 0 !important;
  outline: 0;
}
::placeholder {
  color: #797979;
  font-size: 16px;
  font-weight: 400;
}
/* img */
input[type="image"] {
  width: 100%;
}
/* textarea */
textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  background: #eff2ff;
  border: solid 1px #ababab;
  border-radius: 5px;
}
textarea:focus {
  border: 1px solid #ababab;
  outline: 0;
}
/* checkbox */
.agreeWrap {
  text-align: center;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  padding-left: 22px;
  vertical-align: middle;
}
.checkSpan {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #ffffff;
}

.userAgreeCheckSpan {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #000000;
}

.ruleAgreeCheck::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100%;
  background-image: url(../img/lp/white-white-check-before.png);
  background-repeat: no-repeat;
}
.ruleAgreeCheck:checked::before {
  border-color: #ffffff;
}
.ruleAgreeCheck:checked::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100%;
  background-image: url(../img/lp/white-white-check-after.png);
  background-repeat: no-repeat;
}
.checkboxWrap span {
  font-size: 14px;
  line-height: 2.6em;
  letter-spacing: -1px;
}

.userAgree::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  background-size: 100%;
  background-image: url(../img/lp/gray-white-check-before.png);
  background-repeat: no-repeat;
}

.userAgree:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  background-size: 100%;
  background-image: url(../img/lp/gray-white-check-after.png);
  background-repeat: no-repeat;
}

.formTxt {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  width: 85%;
  letter-spacing: -1.5px;
  margin: 0 auto;
}

/* radio */
input[type="radio"] {
  display: none;
}
.radioInput {
  appearance: none;
  position: absolute;
}
.radioSpan::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #8d8d8d;
  border-radius: 50%;
}
.radioSpan {
  position: relative;
  display: flex;
  align-items: center;
  /* margin-bottom: 18px; */
  /* line-height: 1em; */
}
.radioInput:checked + .radioSpan::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(8px - 5px);
  width: 10px;
  height: 10px;
  background-color: #ff4c50;
  border-radius: 50%;
}

/* select */
select option {
  color: #2b0e04;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}
select.receiptDate {
  position: relative;
  width: 100%;
  height: 48.2624px;
  padding: 0 15px !important;
  font-size: 14px;
  text-align: left;
  line-height: 1em;
  background: #f5f2f2;
  border: solid 1px #d9d1ce;
  z-index: 0 !important;
  text-overflow: "";
}
.cakeReceiptDate:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 40%;
  width: 7px;
  height: 7px;
  border-top: 2px solid #2b0e04;
  border-left: 2px solid #2b0e04;
  transform: translateY(-50%) rotate(-135deg);
  font-size: 14px;
  pointer-events: none;
}

/* -----------------------
  kiyaku
-------------------------- */
.kiyakuMsg {
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.6;
  white-space: nowrap;
}

.toggle_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  margin: 25px auto 0;
  padding: 0;
}
.toggle_title {
  /* height: 60px; */
  width: 90%;
  margin: 0 auto;
  position: relative;
  /* color: #fff; */
  text-align: center;
  cursor: pointer;
  /* line-height: 60px; */
  /* background-image: url(../img/lp/btn-bg.png);
  background-size: 100% 100%; */
}

.toggle_btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 50px;
  display: block;
  width: 28px;
  height: 28px;
  transition: all 0.3s ease;
}
.toggle_btn:before,
.toggle_btn:after {
  display: block;
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 3.4vw;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.toggle_btn:before {
  width: 2px;
  height: 3.4vw;
}
.toggle_title.selected .toggle_btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(90deg);
}

.toggle_title.selected .toggle_btn:after {
  content: normal;
}
.toggle_contents dd {
  display: none;
}
.toggle_contents_bk {
  font-size: 13px;
  line-height: 1.5em;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 10px;
  color: #ffffff;
}

.toggle_btn.bkgW:before,
.toggle_btn.bkgW:after {
  background-color: #ffffff;
}

.toggle_Msg {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  letter-spacing: -0.9px;
  margin: 20px 0;
}

.toggle_contents_bk.products {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.9px;
}

@media only screen and (min-width: 641px) {
  .toggle_btn:before,
  .toggle_btn:after {
    width: 13px;
    height: 2px;
  }

  .toggle_btn:before {
    width: 2px;
    height: 13px;
  }
}

/* -----------------------
  fixed BTN
-------------------------- */
.fixBtnArea,
.mypagefixBtnArea {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 375px;
  margin: 0 auto;
  z-index: 999;
}

.mypagefixBtnArea.modalActive {
  display: none;
}

@media only screen and (max-width: 640px) {
  .fixBtnArea {
    width: 100%;
    margin: 0 auto;
  }
}
.fixBtnItem {
  width: 90%;
}
.fixBtnItem img:hover {
  cursor: pointer;
}
.fixAppTxt {
  width: 66%;
  margin: 0 auto;
}
.fixAppTxt::before,
.fixAppTxt::after {
  content: "";
  width: 1px;
  height: 15px;
  margin-bottom: 2px;
  background: var(--color-pink01);
}
.fixAppTxt::before {
  transform: rotate(-30deg);
}
.fixAppTxt::after {
  transform: rotate(30deg);
}

.lpFixBtnArea {
  position: fixed;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin: 0 auto;
  z-index: 100;
  padding-top: 1.5px;
}

@media screen and (min-width: 641px) {
  .lpFixBtnArea {
    max-width: 375px;
  }
}

/* 参加フォームエラーメッセージ */
.header_emesg {
  padding: 1em;
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
}

.msg {
  color: #ff0000;
  font-size: 14px;
  font-weight: normal;
}

/*_tos 本キャンペーンの規約ページ用*/
.inner94 {
  width: 375px;
  max-width: 94%;
  margin: 0 auto;
}

.frameWrap {
  padding: 30px 0 40px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.kiyakuBG {
  /*各キャンペーンのバックグラウンドの設定に合わせる*/
  background: linear-gradient(60deg, rgba(136, 209, 245, 1) 0%, rgba(0, 182, 238, 1) 100%);
}

/* -----------------------
  tabs
-------------------------- */
.contentsTabs {
  width: 100%;
}
.contentsTabItem__app,
.contentsTabItem__other {
  width: calc(100% / 2);
  height: auto;
  display: block;
  float: left;
  padding: 0.8em 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.3em;
  letter-spacing: 0;
  transition: all 0.2s ease;
}
.contentsTabItem__app {
  background-color: #e50012;
  /* border-radius: 20px 0 0 0; */
}
.contentsTabItem__other {
  background-color: #231815;
  /* border-radius: 0 20px 0 0; */
}
.contentsTabItem:hover {
  cursor: pointer;
}
input[name="contentsTabItem"] {
  display: none;
}
.contentsTabContent__inner {
  padding-left: 10px;
  padding-right: 10px;
}

.lpSectionSubTitle {
  font-size: 14px;
  font-weight: 700;
  color: #231815;
  text-align: center;
  letter-spacing: -0.9px;
}

.contentsTabContent__app {
  display: none;
  padding: 0;
  clear: both;
  overflow: hidden;
  border: solid #e50012;
  border-width: 4px;
  /* border-radius: 0 0 20px 20px; */
}
.contentsTabContent__app,
.contentsTabContent__other {
  background-color: #ffffff;
}
.contentsTabContent__other {
  display: none;
  padding: 0;
  clear: both;
  overflow: hidden;
  border: solid #231815;
  border-width: 4px;
  /* border-radius: 0 0 20px 20px; */
}
/* .contentsTabContent__other {
  background-color: #F973AA;
} */
#appArea:checked ~ #appTab,
#otherArea:checked ~ #otherTab,
#design:checked ~ #design_content {
  display: block;
}
.contentsTabs input:checked + .contentsTabItem {
  color: #115740;
  background-color: #e84709;
}

/* -----------------------
  footer
-------------------------- */
.footer {
  margin: 0;
  padding: 26px 0;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.9px;
  font-family: "Noto Sans JP", sans-serif;
}

#footerAttentionArea ul li {
  padding-left: 1em;
  text-indent: -1em;
}
.imgFooter {
  width: 160px;
  margin: 21px auto;
}
.footerBtnArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btnFootNav {
  position: relative;
  width: 50%;
  padding: 8px 0;
  color: #fff;
  text-align: center;
  background-color: var(--green);
  border: solid 1px #fff;
}
.btnFootNav a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#footerNav {
  list-style: none;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 19px 0 16px;
}
#footerNav li {
  padding: 0 2em;
  line-height: 30px;
  text-align: center;
}
#footerNav li:first-child {
  border-left: none;
}
#footerNav li a {
  text-decoration: none;
  color: #000000;
}
.copyright {
  font-size: 11px;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

/* -----------------------
  Parts
-------------------------- */
/* width */
.w45 {
  display: block;
  width: 45%;
  margin: 0 auto;
}
.w55 {
  display: block;
  width: 55%;
  margin: 0 auto;
}
.w65 {
  display: block;
  width: 65%;
  margin: 0 auto;
}
.w70 {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.w75 {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.w80 {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.w85 {
  display: block;
  width: 85%;
  margin: 0 auto;
}
.w90 {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.w95 {
  display: block;
  width: 95%;
  margin: 0 auto;
}

/* margin */
.m_auto {
  margin-left: auto;
  margin-right: auto;
}

/* margin-top */
.mt-150 {
  margin-top: -150px;
}
.mt-100 {
  margin-top: -100px;
}
.mt05 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.mt110 {
  margin-top: 110px;
}
.mt120 {
  margin-top: 120px;
}
.mt130 {
  margin-top: 130px;
}
.mt140 {
  margin-top: 140px;
}
.mt150 {
  margin-top: 150px;
}

.mb05 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb110 {
  margin-bottom: 110px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb130 {
  margin-bottom: 130px;
}
.mb140 {
  margin-bottom: 140px;
}
.mb150 {
  margin-bottom: 150px;
}

.ml_auto {
  margin-left: auto;
}
.ml05 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.ml55 {
  margin-left: 55px;
}
.ml60 {
  margin-left: 60px;
}
.ml65 {
  margin-left: 65px;
}
.ml70 {
  margin-left: 70px;
}
.ml75 {
  margin-left: 75px;
}
.ml80 {
  margin-left: 80px;
}
.ml85 {
  margin-left: 85px;
}
.ml90 {
  margin-left: 90px;
}
.ml95 {
  margin-left: 95px;
}
.ml100 {
  margin-left: 100px;
}
.ml110 {
  margin-left: 110px;
}
.ml120 {
  margin-left: 120px;
}
.ml130 {
  margin-left: 130px;
}
.ml140 {
  margin-left: 140px;
}
.ml150 {
  margin-left: 150px;
}

/* margin-right */
.mr10 {
  margin-right: 10px;
}

/* padding-top */
.pt05 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt45 {
  padding-top: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pt55 {
  padding-top: 55px;
}
.pt60 {
  padding-top: 60px;
}
.pt65 {
  padding-top: 65px;
}
.pt70 {
  padding-top: 70px;
}
.pt75 {
  padding-top: 75px;
}
.pt80 {
  padding-top: 80px;
}
.pt85 {
  padding-top: 85px;
}
.pt90 {
  padding-top: 90px;
}
.pt95 {
  padding-top: 95px;
}
.pt100 {
  padding-top: 100px;
}
.pt110 {
  padding-top: 110px;
}
.pt120 {
  padding-top: 120px;
}
.pt130 {
  padding-top: 130px;
}
.pt140 {
  padding-top: 140px;
}
.pt150 {
  padding-top: 150px;
}

/* padding-bottom */
.pb0 {
  padding-bottom: 0;
}
.pb05 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb55 {
  padding-bottom: 55px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb65 {
  padding-bottom: 65px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb75 {
  padding-bottom: 75px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb85 {
  padding-bottom: 85px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb95 {
  padding-bottom: 95px;
}
.pb100 {
  padding-bottom: 100px;
}
.pb110 {
  padding-bottom: 110px;
}
.pb120 {
  padding-bottom: 120px;
}
.pb130 {
  padding-bottom: 130px;
}
.pb140 {
  padding-bottom: 140px;
}
.pb150 {
  padding-bottom: 150px;
}

/* padding-left */
.pl05 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}

/* padding-right */
.pr05 {
  padding-right: 5px;
}

.pd05 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pd15 {
  padding: 15px;
}
.pd20 {
  padding: 20px;
}
.pd25 {
  padding: 25px;
}
.pd30 {
  padding: 30px;
}
.pd35 {
  padding: 35px;
}
.pd40 {
  padding: 40px;
}
.pd45 {
  padding: 45px;
}
.pd50 {
  padding: 50px;
}
.pd55 {
  padding: 55px;
}
.pd60 {
  padding: 60px;
}
.pd65 {
  padding: 65px;
}
.pd70 {
  padding: 70px;
}
.pd75 {
  padding: 75px;
}
.pd80 {
  padding: 80px;
}
.pd85 {
  padding: 85px;
}
.pd90 {
  padding: 90px;
}
.pd95 {
  padding: 95px;
}

/* text-align */
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}

.len10per {
  width: 10%;
}
.len20per {
  width: 20%;
}
.len30per {
  width: 30%;
}
.len40per {
  width: 40%;
}
.len50per {
  width: 50%;
}
.len60per {
  width: 60%;
}
.len70per {
  width: 70%;
}
.len80per {
  width: 80%;
}
.len90per {
  width: 90%;
}
.len100per {
  width: 100%;
}

/* color */
.colorB {
  color: #000;
}
.colorW {
  color: var(--color-white);
}
.colorP {
  color: var(--color-pink01);
}
.colorG {
  color: var(--color-green2);
}

.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs17 {
  font-size: 17px;
}
.fs18 {
  font-size: 18px;
}
.fs19 {
  font-size: 19px;
}
.fs20 {
  font-size: 20px;
}
.fs21 {
  font-size: 21px;
}
.fs22 {
  font-size: 22px;
}
.fs23 {
  font-size: 23px;
}
.fs24 {
  font-size: 24px;
}
.fs25 {
  font-size: 25px;
}
.fs26 {
  font-size: 26px;
}
.fs27 {
  font-size: 27px;
}
.fs28 {
  font-size: 28px;
}
.fs29 {
  font-size: 29px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs40 {
  font-size: 40px;
}
.fs45 {
  font-size: 45px;
}
.fs55 {
  font-size: 55px;
}

.lh10 {
  line-height: 1em;
}
.lh11 {
  line-height: 1.1em;
}
.lh12 {
  line-height: 1.2em;
}
.lh13 {
  line-height: 1.3em;
}
.lh14 {
  line-height: 1.4em;
}
.lh15 {
  line-height: 1.5em;
}
.lh16 {
  line-height: 1.6em;
}
.lh17 {
  line-height: 1.7em;
}
.lh18 {
  line-height: 1.8em;
}
.lh19 {
  line-height: 1.9em;
}
.lh20 {
  line-height: 2em;
}
.lh21 {
  line-height: 2.1em;
}
.lh22 {
  line-height: 2.2em;
}
.lh23 {
  line-height: 2.3em;
}
.lh24 {
  line-height: 2.4em;
}
.lh25 {
  line-height: 2.5em;
}

.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}

/* -----------------------
  spiral
-------------------------- */
.spiralSeal {
  width: 90%;
  margin: 20px auto;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
}
.spiralSeal a {
  text-decoration: underline !important;
}
.spiralSealImg {
  width: 140px;
  margin: 10px auto 0;
}
