/** @format */

@charset 'utf-8';
/* ============ STYLE ============ */
body {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
section {
  position: relative;
  font-weight: 500;
  font-style: normal;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
  opacity: 0.9;
}
*:focus {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  position: relative;
  cursor: pointer;
}
body.scroll-disable {
  overflow: hidden;
}

.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
@media only screen and (max-width: 640px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

/* 事前エントリー */
/* .entry .ent_before {
	display: block;
}
.entry .ent_after {
	display: none;
}
.ent_before {
	display: none;
}
.ent_after {
	display: block;
} */

/* layout */
.wrap {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 640px) {
  .wrap {
    width: 100%;
  }
}
:root {
  --blue: #1e459b;
  --pink: #ba1c22;
  --green: #48b134;
  --orange: #d85d19;
}

/* bg */
.bg {
  padding-bottom: 70px;
  background: #fdfce6;
}

.frame {
  width: 90%;
  margin: 40px auto 0;
  padding-bottom: 30px;
  background: #fff;
  border-radius: 18px;
  border: 1px solid;
  overflow: hidden;
}
#category01.frame {
  border-color: var(--blue);
}
#category02.frame {
  border-color: var(--pink);
}
#category03.frame {
  border-color: var(--green);
}
#category04.frame {
  border-color: var(--orange);
}

/* font */
@font-face {
  font-family: "axis";
  src: url(../font/AxisStd-Heavy.ttf) format("truetype"),
    url(../font/AxisStd-Heavy.woff) format("woff");
}

/* ttl */
.ttl {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  letter-spacing: 0.2em;
  font-size: 24px;
  font-weight: 700;
}
#category01 .ttl {
  background: var(--blue);
}
#category02 .ttl {
  background: var(--pink);
}
#category03 .ttl {
  background: var(--green);
}
#category04 .ttl {
  background: var(--orange);
}

/* btn */

/* ----------- 202510-rakuten ----------- */

/* -----------ヘッダー ----------- */
#header {
  padding-bottom: 2px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2px;
  background: #cc8800;
  z-index: 999;
}
#header a {
  width: calc(100% / 4);
}

/* -----------メニュー ----------- */
.menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 10px;
}
.menuList li {
  width: calc(100% / 2 - 5px);
}

/* -----------対象商品 ----------- */
.ptTtl {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.ptTtl::after {
  content: "ポイント";
  font-size: 17px;
  align-self: flex-end;
  position: relative;
}
.ptTtl span {
  padding-right: 3px;
  font-size: 24px;
  font-family: "axis", sans-serif;
  letter-spacing: -0.05em;
}
#category01 .ptTtl {
  background: var(--blue);
}
#category02 .ptTtl {
  background: var(--pink);
}
#category03 .ptTtl {
  background: var(--green);
}
#category04 .ptTtl {
  background: var(--orange);
}
.ptWrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.pdItem {
  width: calc(50% - 2px);
  position: relative;
  padding: 10px 0 20px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.pdItem.col01 {
  padding-bottom: 10px;
  width: 100%;
}
.pdLineY::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-position: left top;
  background-repeat: repeat-y;
  background-size: 1px 100%;
}
#category01 .pdLineY::after {
  background-image: repeating-linear-gradient(
    180deg,
    var(--blue),
    var(--blue) 5px,
    transparent 5px,
    transparent 10px
  );
}
#category02 .pdLineY::after {
  background-image: repeating-linear-gradient(
    180deg,
    var(--pink),
    var(--pink) 5px,
    transparent 5px,
    transparent 10px
  );
}
#category03 .pdLineY::after {
  background-image: repeating-linear-gradient(
    180deg,
    var(--green),
    var(--green) 5px,
    transparent 5px,
    transparent 10px
  );
}
#category04 .pdLineY::after {
  background-image: repeating-linear-gradient(
    180deg,
    var(--orange),
    var(--orange) 5px,
    transparent 5px,
    transparent 10px
  );
}
.pdLineX {
  width: 100%;
  height: 2px;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 100% 1px;
}
#category01 .pdLineX {
  background-image: repeating-linear-gradient(
    90deg,
    var(--blue),
    var(--blue) 5px,
    transparent 5px,
    transparent 10px
  );
}
#category02 .pdLineX {
  background-image: repeating-linear-gradient(
    90deg,
    var(--pink),
    var(--pink) 5px,
    transparent 5px,
    transparent 10px
  );
}
#category03 .pdLineX {
  background-image: repeating-linear-gradient(
    90deg,
    var(--green),
    var(--green) 5px,
    transparent 5px,
    transparent 10px
  );
}
#category04 .pdLineX {
  background-image: repeating-linear-gradient(
    90deg,
    var(--orange),
    var(--orange) 5px,
    transparent 5px,
    transparent 10px
  );
}
.pdName {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}
.pdName span {
  font-size: 10px;
}
.pdMed {
  margin: 5px auto 0;
  padding: 2px;
  width: fit-content;
  font-size: 10px;
  border: 1px solid;
  line-height: 1;
}

/* ----------注意書き --------------*/
.noteList {
  font-size: 12px;
  font-weight: 500;
}
.noteList li {
  padding-left: 1em;
  text-indent: -1em;
}
.noteList li::before {
  content: "\203B";
}
/* ※をなしの場合 */
.noteList li.symbolNo {
  padding-left: 0;
  text-indent: 0;
}
.noteList li.symbolNo::before {
  content: none;
}

/* 参加の流れ */
.stepWrap {
  width: 90%;
  margin: 0 auto;
}
.stepTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "mobo", sans-serif;
}
.stepTitleTxt {
  font-size: 20px;
  line-height: 1.1;
  color: var(--orange);
  letter-spacing: -0.05em;
}
.stepTitleTxt span {
  font-weight: 700;
}
.stepNo {
  font-size: 33px;
  color: var(--pink);
  line-height: 1;
}
.stepTxt {
  margin-top: 15px;
}
.stepDesc {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}
.stepArrow {
  width: 25px;
  margin: 20px auto;
}
.stepAttention {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.6;
}

/* セイムスアプリ限定スタイル */
.stepAppTxt {
  margin: 20px 0 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  line-height: 1.3;
  white-space: nowrap;
  color: var(--pink);
}
.stepAppTxt2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px auto 0;
  width: 95%;
  color: var(--yellow);
  font-size: 17px;
  font-family: "mobo", sans-serif;
  letter-spacing: -0.07em;
  z-index: 1;
}
.stepAppTxt2::before,
.stepAppTxt2::after {
  content: "";
  width: 2px;
  height: 16px;
  background: var(--yellow);
}
.stepAppTxt2::before {
  transform: rotate(-30deg);
}
.stepAppTxt2::after {
  transform: rotate(30deg);
}

/* ダウンロードボタン */
.downloadWrap {
  position: relative;
  padding: 10px 5px 5px;
  background: var(--yellow);
  border-radius: 5px;
}
.downloadTitle {
  padding-bottom: 10px;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  color: var(--orange);
}
.downloadBtnWrap {
  padding: 10px 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #fff;
}
.downloadBtn {
  width: 48%;
}
.downloadBtn1 {
  width: 41%;
}
.downloadBtn2 {
  width: 50%;
}
.downloadTitle2 {
  width: 88%;
  margin: 33px auto 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}
.downloadTitle3 {
  width: 60%;
  margin: 0 auto 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}

/* -----------エラー ----------- */
.errorCont {
  padding: 50px 0 40px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
.errorTxt1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
}
.errorTxt2 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 15px;
}

/* -----------------------
  アコーディオン
-------------------------- */
.toggle_contents_other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.toggle_title_other {
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.toggle_btn_other {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
.toggle_btn_other:before,
.toggle_btn_other:after {
  display: block;
  content: "";
  background-color: #fff;
  position: absolute;
  width: 13px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.toggle_title_other.selected .toggle_btn_other {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(90deg);
}
.toggle_title_other.selected .toggle_btn_other:after {
  content: normal;
}

/* 詰め合わせアコーディオン */
.toggle_title_other.set_btn {
  color: #fff;
  background: var(--pink);
  font-size: 16px;
  line-height: 1.1;
}

.toggle_btn_other.set_toggle:before,
.toggle_btn_other.set_toggle:after {
  background-color: #fff;
}

/* 規約アコーディオン */
.toggle_title_other.rule_btn {
  color: var(--orange);
  border: 1px solid var(--orange);
  margin-top: 20px;
}
.toggle_btn_other.rule_toggle:before,
.toggle_btn_other.rule_toggle:after {
  background-color: var(--orange);
}

.toggle_btn_other:before {
  width: 2px;
  height: 13px;
}

@media only screen and (min-width: 641px) {
  .toggle_btn_other:before,
  .toggle_btn_other:after {
    width: 13px;
    height: 2px;
  }

  .toggle_btn_other:before {
    width: 2px;
    height: 13px;
  }
}
@media only screen and (min-width: 641px) {
  .toggle_btn:before,
  .toggle_btn:after {
    width: 13px;
    height: 2px;
  }

  .toggle_btn:before {
    width: 2px;
    height: 13px;
  }
}

/* アコーディオン中身 */
.toggle_contents_other dd {
  display: none;
  padding: 15px 0 10px 0;
  font-size: 12px;
  line-height: 1.3;
}
.toggle_contents_other_bk {
  width: 95%;
  text-align: justify;
  margin: 0 auto;
  max-height: 50vh;
  overflow-y: scroll;
}
.toggle_contents_other_bk::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 15px;
  border-radius: 20px;
}
.toggle_contents_other_bk::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}
.productList {
  position: relative;
  width: 100%;
}
.productList:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  background-image: radial-gradient(circle, #8c8c8c 1px, transparent 1px);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}
.productList li {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.2;
}

/* アコーディオン2列の場合 */
.productList .productName {
  width: 80%;
}
.productList .productData {
  width: 20%;
  text-align: right;
}
.setList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 0;
}
.setList li {
  width: 50%;
}

/* アコーディオンメーカー名が入る */
.makerName {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--main2);
  font-weight: 800;
  font-size: 14px;
}
.makerName::before {
  content: "";
  width: 10px;
  height: 12px;
  background: url(../img/common/parts_list.png) no-repeat center / contain;
}

/* タブ切り替え */
.change_wrap {
  margin-bottom: 25px;
  border: 2px solid #fff;
}
.tab_wrap {
  display: flex;
}
.tab_wrap .tab {
  padding: 10px 0;
  width: 50%;
  text-align: center;
  font-size: 32px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}
.tab_wrap .tab.active {
  background: #fff;
  border: none;
}
.tab_wrap .tab01.active {
  color: var(--color-blue);
}
.tab_wrap .tab02.active {
  color: var(--color-orange);
}
.panel {
  padding: 20px 0;
  display: none;
}
.panel.active {
  display: block;
}

/* -----------------------
  common
-------------------------- */
.inner {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}
.inner94 {
  width: 375px;
  max-width: 94%;
  margin: 0 auto;
}
.inner95 {
  width: 375px;
  max-width: 95%;
  margin: 0 auto;
}
.inner90 {
  width: 375px;
  max-width: 90%;
  margin: 0 auto;
}
.inner80 {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}
.inner84 {
  width: 84%;
  max-width: 84%;
  margin: 0 auto;
}
.inner85 {
  width: 85.6%;
  max-width: 85.6%;
  margin: 0 auto;
}
.inner88 {
  width: 88%;
  max-width: 88%;
  margin: 0 auto;
}
.inner75 {
  width: 375px;
  max-width: 75%;
  margin: 0 auto;
}
.inner70 {
  width: 375px;
  max-width: 70%;
  margin: 0 auto;
}
.inner65 {
  width: 375px;
  max-width: 65%;
  margin: 0 auto;
}

/* モーダル */
.fix {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal_inner {
  /* display: none; */
  position: absolute;
  width: 90%;
  max-width: 355px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 50px 0 40px;
  z-index: 999;
  text-align: center;
}

/* クーポンモーダル */
.couponMdlTxt {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

/*------------ Swiper-------------- */
/*------------ Swiper-------------- */
/* mvSlider */
.mvSlider .swiper-wrapper {
  transition-timing-function: linear;
}
.mvSlider .swiper-slide {
  height: 90px;
}
.mvSlider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}

/* 商品スライドの名前 */
/* .pdName {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.pdName .detail {
  margin-top: 5px;
  font-size: 12px;
  display: block;
} */

/* 対象ブランドロゴ */
.makerSlider .swiper-slide img:first-child {
  margin-bottom: 5px;
}
.makerSlider .swiper-slide img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* ページネーション */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin: 20px auto 0;
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

/* ページネーションのサイズと色 */
.swiper-pagination {
  width: 90% !important;
  height: 8px;
}
.swiper-pagination-bullet {
  margin: 0 4px !important;
  height: 8px;
  width: 8px;
  background-color: #3e6c1f;
  opacity: 0.4;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

/* swiper-scrollbar */
.swiper-scrollbar {
  margin: 10px auto 0;
  position: initial !important;
  background: var(--pink);
  width: 90% !important;
}
.swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.8);
}

/* -----------------------
  form
-------------------------- */
input[type="text"],
input[type="name"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="postal-code"],
input[type="password"] {
  height: 48.2624px;
  padding: 0 15px;
  background: #f5f2f2;
  border: solid 1px #d9d1ce;
  z-index: 0 !important;
}
input[type="text"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="postal-code"]:focus,
input[type="password"]:focus {
  background: #f5f2f2;
  border: solid 1px #d9d1ce;
  z-index: 0 !important;
  outline: 0;
}
::placeholder {
  color: #797979;
  font-size: 16px;
  font-weight: 400;
}
/* img */
input[type="image"] {
  width: 100%;
}
/* textarea */
textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  background: #eff2ff;
  border: solid 1px #ababab;
  border-radius: 5px;
}
textarea:focus {
  border: 1px solid #ababab;
  outline: 0;
}

/* checkbox */
.agreeWrap {
  text-align: center;
}
/* input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  padding-left: 22px;
  vertical-align: middle;
} */
.checkSpan {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.userAgreeCheckSpan {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #000000;
}

.ruleAgreeCheck::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100%;
  background-image: url(../img/lp/check-before.png);
  background-repeat: no-repeat;
}
.ruleAgreeCheck:checked::before {
  border-color: #ffffff;
}
.ruleAgreeCheck:checked::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100%;
  background-image: url(../img/lp/check_after.png);
  background-repeat: no-repeat;
}
.checkboxWrap span {
  font-size: 14px;
  line-height: 2.6em;
  letter-spacing: -1px;
}

.userAgree::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  background-size: 100%;
  background-image: url(../img/lp/gray-white-check-before.png);
  background-repeat: no-repeat;
}

.userAgree:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  background-size: 100%;
  background-image: url(../img/lp/gray-white-check-after.png);
  background-repeat: no-repeat;
}

/* radio */
input[type="radio"] {
  display: none;
}
.radioInput {
  appearance: none;
  position: absolute;
}

/* select */
select option {
  color: #2b0e04;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

/* -----------------------
  kiyaku
-------------------------- */
.kiyakuMsg {
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.6;
  white-space: nowrap;
}

/* 参加フォームエラーメッセージ */
.header_emesg {
  padding: 1em;
  color: #f00000;
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
}
.msg {
  color: #f00000;
  font-size: 14px;
  font-weight: normal;
}

/*_tos 本キャンペーンの規約ページ用*/
.frameWrap {
  padding: 30px 0 40px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.kiyakuBG {
  /*各キャンペーンのバックグラウンドの設定に合わせる*/
  background: linear-gradient(60deg, rgba(136, 209, 245, 1) 0%, rgba(0, 182, 238, 1) 100%);
}

/* -----------------------
  fixed BTN
-------------------------- */
.fixBtnArea {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 375px;
  margin: 0 auto;
  z-index: 999;
}

@media only screen and (max-width: 640px) {
  .fixBtnArea {
    width: 100%;
    margin: 0 auto;
  }
}
.fixBtnItem {
  width: 90%;
}
.fixBtnItem.clm2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.fixBtnItem.clm2 a {
  width: 50%;
}
.fixBtnItem img:hover {
  cursor: pointer;
}
.fixBtnItem > a {
  display: block;
  text-align: center;
}

.fixBtnTxt {
  width: 67%;
  margin: 0 auto 2px;
}

.lpFixBtnArea {
  position: fixed;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin: 0 auto;
  z-index: 100;
  padding-top: 1.5px;
}

@media screen and (min-width: 641px) {
  .lpFixBtnArea {
    max-width: 375px;
  }
}

/* -----------------------
  footer
-------------------------- */
.footer {
  margin: 0;
  padding: 35px 0 25px;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.9px;
  font-family: "Noto Sans JP", sans-serif;
}

#footerAttentionArea ul li {
  padding-left: 1em;
  text-indent: -1em;
}
.imgFooter {
  width: 160px;
  margin: 21px auto;
}
.footerBtnArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btnFootNav {
  position: relative;
  width: 50%;
  padding: 8px 0;
  color: #fff;
  text-align: center;
  background-color: var(--orange);
  border: solid 1px #fff;
}
.btnFootNav a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#footerNav {
  list-style: none;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 19px 0 16px;
}
#footerNav li {
  padding: 0 2em;
  line-height: 30px;
  text-align: center;
}
#footerNav li:first-child {
  border-left: none;
}
#footerNav li a {
  text-decoration: none;
  color: #000000;
}
.copyright {
  font-size: 11px;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

/* -----------------------
  Parts
-------------------------- */
/* width */
.w45 {
  display: block;
  width: 45%;
  margin: 0 auto;
}
.w60 {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.w65 {
  display: block;
  width: 65%;
  margin: 0 auto;
}
.w70 {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.w75 {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.w80 {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.w85 {
  display: block;
  width: 85%;
  margin: 0 auto;
}
.w90 {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.w95 {
  display: block;
  width: 95%;
  margin: 0 auto;
}

/* margin */
.m_auto {
  margin-left: auto;
  margin-right: auto;
}

/* margin-top */
.mt-150 {
  margin-top: -150px;
}
.mt-110 {
  margin-top: -110px;
}
.mt-100 {
  margin-top: -100px;
}
.mt-80 {
  margin-top: -80px;
}
.mt-70 {
  margin-top: -70px;
}
.mt-40 {
  margin-top: -40px;
}
.mt-35 {
  margin-top: -35px;
}
.mt-30 {
  margin-top: -30px;
}
.mt-25 {
  margin-top: -25px;
}
.mt-20 {
  margin-top: -20px;
}
.mt-10 {
  margin-top: -10px;
}

.mt05 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.mt110 {
  margin-top: 110px;
}
.mt120 {
  margin-top: 120px;
}
.mt130 {
  margin-top: 130px;
}
.mt140 {
  margin-top: 140px;
}
.mt150 {
  margin-top: 150px;
}

.mb0 {
  margin-bottom: 0px;
}
.mb05 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb110 {
  margin-bottom: 110px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb130 {
  margin-bottom: 130px;
}
.mb140 {
  margin-bottom: 140px;
}
.mb150 {
  margin-bottom: 150px;
}

.ml_auto {
  margin-left: auto;
}
.ml05 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.ml55 {
  margin-left: 55px;
}
.ml60 {
  margin-left: 60px;
}
.ml65 {
  margin-left: 65px;
}
.ml70 {
  margin-left: 70px;
}
.ml75 {
  margin-left: 75px;
}
.ml80 {
  margin-left: 80px;
}
.ml85 {
  margin-left: 85px;
}
.ml90 {
  margin-left: 90px;
}
.ml95 {
  margin-left: 95px;
}
.ml100 {
  margin-left: 100px;
}
.ml110 {
  margin-left: 110px;
}
.ml120 {
  margin-left: 120px;
}
.ml130 {
  margin-left: 130px;
}
.ml140 {
  margin-left: 140px;
}
.ml150 {
  margin-left: 150px;
}

/* margin-right */
.mr10 {
  margin-right: 10px;
}

/* padding-top */
.pt05 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt45 {
  padding-top: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pt55 {
  padding-top: 55px;
}
.pt60 {
  padding-top: 60px;
}
.pt65 {
  padding-top: 65px;
}
.pt70 {
  padding-top: 70px;
}
.pt75 {
  padding-top: 75px;
}
.pt80 {
  padding-top: 80px;
}
.pt85 {
  padding-top: 85px;
}
.pt90 {
  padding-top: 90px;
}
.pt95 {
  padding-top: 95px;
}
.pt100 {
  padding-top: 100px;
}
.pt110 {
  padding-top: 110px;
}
.pt120 {
  padding-top: 120px;
}
.pt130 {
  padding-top: 130px;
}
.pt140 {
  padding-top: 140px;
}
.pt150 {
  padding-top: 150px;
}

/* padding-bottom */
.pb05 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb55 {
  padding-bottom: 55px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb65 {
  padding-bottom: 65px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb75 {
  padding-bottom: 75px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb85 {
  padding-bottom: 85px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb95 {
  padding-bottom: 95px;
}
.pb100 {
  padding-bottom: 100px;
}
.pb110 {
  padding-bottom: 110px;
}
.pb120 {
  padding-bottom: 120px;
}
.pb130 {
  padding-bottom: 130px;
}
.pb140 {
  padding-bottom: 140px;
}
.pb150 {
  padding-bottom: 150px;
}

/* padding-left */
.pl05 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}

/* padding-right */
.pr05 {
  padding-right: 5px;
}

.pd05 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pd15 {
  padding: 15px;
}
.pd20 {
  padding: 20px;
}
.pd25 {
  padding: 25px;
}
.pd30 {
  padding: 30px;
}
.pd35 {
  padding: 35px;
}
.pd40 {
  padding: 40px;
}
.pd45 {
  padding: 45px;
}
.pd50 {
  padding: 50px;
}
.pd55 {
  padding: 55px;
}
.pd60 {
  padding: 60px;
}
.pd65 {
  padding: 65px;
}
.pd70 {
  padding: 70px;
}
.pd75 {
  padding: 75px;
}
.pd80 {
  padding: 80px;
}
.pd85 {
  padding: 85px;
}
.pd90 {
  padding: 90px;
}
.pd95 {
  padding: 95px;
}

/* text-align */
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}

.len10per {
  width: 10%;
}
.len20per {
  width: 20%;
}
.len30per {
  width: 30%;
}
.len40per {
  width: 40%;
}
.len50per {
  width: 50%;
}
.len60per {
  width: 60%;
}
.len70per {
  width: 70%;
}
.len80per {
  width: 80%;
}
.len90per {
  width: 90%;
}
.len100per {
  width: 100%;
}

/* color */

.colorW {
  color: #fff;
}
.colorP {
  color: var(--main);
}

.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs17 {
  font-size: 17px;
}
.fs18 {
  font-size: 18px;
}
.fs19 {
  font-size: 19px;
}
.fs20 {
  font-size: 20px;
}
.fs21 {
  font-size: 21px;
}
.fs22 {
  font-size: 22px;
}
.fs23 {
  font-size: 23px;
}
.fs24 {
  font-size: 24px;
}
.fs25 {
  font-size: 25px;
}
.fs26 {
  font-size: 26px;
}
.fs27 {
  font-size: 27px;
}
.fs28 {
  font-size: 28px;
}
.fs29 {
  font-size: 29px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs40 {
  font-size: 40px;
}
.fs45 {
  font-size: 45px;
}
.fs55 {
  font-size: 55px;
}
.fs60 {
  font-size: 60px;
}

.lh10 {
  line-height: 1em;
}
.lh11 {
  line-height: 1.1em;
}
.lh12 {
  line-height: 1.2em;
}
.lh13 {
  line-height: 1.3em;
}
.lh14 {
  line-height: 1.4em;
}
.lh15 {
  line-height: 1.5em;
}
.lh16 {
  line-height: 1.6em;
}
.lh17 {
  line-height: 1.7em;
}
.lh18 {
  line-height: 1.8em;
}
.lh19 {
  line-height: 1.9em;
}
.lh20 {
  line-height: 2em;
}
.lh21 {
  line-height: 2.1em;
}
.lh22 {
  line-height: 2.2em;
}
.lh23 {
  line-height: 2.3em;
}
.lh24 {
  line-height: 2.4em;
}
.lh25 {
  line-height: 2.5em;
}

.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}

.ls70 {
  letter-spacing: 0.07em;
}
.ls200 {
  letter-spacing: 0.2em;
}
